.container {
    display: flex;
    gap: 20px;
}
.team-info {
    width: 100px;
    height: 150px;
    border: 1px solid skyblue;
    background-color: #edffff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    width: 400px;
    height: 500px;
    border: 5px solid rgb(233, 255, 120);
    border-radius: 20px;
    background-color: rgb(245, 255, 193);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img {
    width: 300px;
    border-radius: 20px;
}
.box>p {
    font-size: 30px;
    font-weight: bold;
}
.btn {
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.btn>button {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    background-color: white;
    width: 45px;
    height: 30px;
    font-size: 16px;
}